HL_PRIVATE_KEY=
HL_ACCOUNT_ADDRESS=
HL_NETWORK=testnet
HL_MAX_POSITION_USD=10000
HL_MAX_DAILY_LOSS_USD=500
HL_MAX_LEVERAGE=5
HL_MAX_TRADES_PER_HOUR=30
HL_COOLDOWN_SECONDS=10
HL_MAX_CONSECUTIVE_LOSSES=5
HL_KILL_SWITCH=false
